<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sitebuild Skeleton</title>
	<link rel="stylesheet" href="<%= path.asset %>/css/style.min.css">
	<link rel="author" href="humans.txt">

	<!-- build:include header/icons.html --><!-- /build -->

	<!--[if lt IE 9]>
		<script src="<%= path.asset %>/js/respond.min.js"></script>
		<script src="<%= path.asset %>/js/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
